<h1>{{title}}</h1>

{{# if success }}
  <section class="success">
    <h3>Your form successfully submited</h3>
  </section>
{{ else }}

  {{# if errors }}
  <ul>
    {{# each errors }}
      <li>{{ this.msg }}</li>
    {{/ each }}
  </ul>
  {{/ if }}
<form action="/submit" method="post">
  <div style="margin-bottom: 15px">
    <label style="display: block" for="email">Email</label>
    <input type="text" name="email" id="email">
  </div>
  <div style="margin-bottom: 15px">
    <label style="display: block" for="pass">Password</label>
    <input type="password" name="pass" id="pass">
  </div>
  <div style="margin-bottom: 15px">
    <label style="display: block" for="conpass">Confirm Password</label>
    <input type="password" name="conpass" id="conpass">
  </div>
  <input type="submit">
</form>
{{/ if }}
